/* ============================= */
/* -------- General CSS -------- */
/* ============================= */

body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #ffffff;
}

a {
    color: #AF9483;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Solway', serif;
    color: #666666;
    margin: 0 0 15px 0;
    padding: 0;
}


/* ============================= */
/* ------ Top Header CSS ------- */
/* ============================= */

.top-header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}

.top-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/my-background-image.jpg) left top repeat;
    background-size: cover;
    z-index: -1;
}

.top-header .container {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.top-header img {
    height: 200px;
    margin-bottom: 30px;
    border: 15px solid rgba(256, 256, 256, .1);
}

.top-header h1 {
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
}

.top-header p {
    display: none;
}

.top-header h2 {
    display: inline-block;
    margin: 0;
    height: 40px;
    font-size: 3vw;
    font-weight: 400;
    color: #ffffff;
}

.top-header .typed-cursor {
    font-size: 3vw;
}


/* ============================= */
/* -------- Header CSS --------- */
/* ============================= */

.header {
    background: #AF9483;
    height: 70px;
}

.header .logo {
    margin: 14px 25px 0 0;
}

.header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 2px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
}

.header .logo h1 a,
.header .logo h1 a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .header {
        height: 50px;
    }
    
    .header .logo {
        margin: 10px 0 0 0;
    }
    
    .header .logo h1 {
        padding: 2px 0;
        font-size: 26px;
    }
}

.header .social-nav {
    margin-top: 15px;
}

.header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
}

.header .social-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

#nav-menu-container {
    margin: 0;
}

.nav-menu a {
    padding: 22px 15px;
    text-decoration: none;
    display: inline-block;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
    color: #000000;
}

.nav-menu ul li {
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li a:hover {
    color: #ffffff;
}

.nav-menu ul ul {
    margin: 0;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
    
    .logo {
        width: 100%;
        text-align: center;
    }
}

/* ============================= */
/* ------- Header Title -------- */
/* ============================= */

.section-header h2,
.section-header h3 {
    display: inline-block;
    color: #AF9483;
    font-size: 35px;
    text-transform: capitalize;
    text-align: left;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #AF9483;
}

.section-header h2::before,
.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    right: 0;
    border-top: 10px solid;
    border-right: 10px solid;
    border-color: transparent #AF9483;
}

.section-header h2::after,
.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    left: 0;
    border-top: 10px solid;
    border-left: 10px solid;
    border-color: transparent #AF9483;
}

.section-header p {
    text-align: left;
    padding-bottom: 0px;
}

@media (min-width: 992px) {
    .section-header p {
        width: 70%;
    }
}

/* ==================================== */
/* ------ my-folder Page header CSS ----- */
/* ==================================== */

.pageheaderfolder {
    background: url("../img/save-image-banner.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 60px 0;
    text-align: center;
    position: relative;
}

.pageheaderfolder .container {
    max-width: 700px;
}

.pageheaderfolder::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.7);
}

.pageheaderfolder .container {
    position: relative;
    z-index: 9;
}


.pageheaderfolder i {
    padding: 20px 0;
    color: #AF9483;
}


/* ==================================== */
/* ------ Services Page header CSS ----- */
/* ==================================== */

.pageheaderservices {
    background: url("../img/services-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 60px 0;
    text-align: center;
    position: relative;
}

.pageheaderservices .container {
    max-width: 700px;
}

.pageheaderservices::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.7);
}

.pageheaderservices .container {
    position: relative;
    z-index: 9;
}


.pageheaderservices i {
    padding: 20px 0;
    color: #AF9483;
}


/* =================================== */
/* ------ Contact Page header CSS ----- */
/* ==================================== */

.pageheadercontact {
    background: url("../img/contact-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 60px 0;
    text-align: center;
    position: relative;
}

.pageheadercontact .container {
    max-width: 700px;
}

.pageheadercontact::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.7);
}

.pageheadercontact .container {
    position: relative;
    z-index: 9;
}


.pageheadercontact i {
    padding: 20px 0;
    color: #AF9483;
}

/* ============================= */
/* ------- About Me CSS -------- */
/* ============================= */

.about {
    padding: 60px 0 15px 0;
    position: relative;
}

.about .row {
    margin-bottom: 30px;
}

.about img {
    width: 100%;
}

.about h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.about h4 {
    font-size: 16px;
    font-weight: 400;
}

.about p {
    font-size: 16px;
    font-weight: 300;
}

.about a {
    display: inline-block;
    padding: 6px 20px;
    color: #AF9483;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid #AF9483;
}

.about a:hover {
    color: #ffffff;
    background: #AF9483;
}

.like-btn > svg{
    fill: #141c36;
    width: 20px;
}
.liked-btn > svg{
    fill: royalblue;
    width: 20px;
}
.like-btn > svg:hover{
    fill: #394e94;
}
.liked-btn > svg:hover{
    fill: rgb(41, 67, 146);
}

.like-btn, .liked-btn{
    position: absolute;
    left: 5%;
    top:5%;
    outline: none;
    border: none;
    /* width: 20px;
    height: 20px; */
}
.save-btn, .saved-btn{
    position: absolute;
    left: 80%;
    top:5%;
    outline: none;
    border: none;
    /* width: 20px;
    height: 20px; */
}
.save-btn> i{
    background-color: #ffffff00 !important;
    color:rgb(203, 53, 53) !important;
    
}
.save-btn> i:hover{
    color:rgb(250, 119, 119) !important;
}
.saved-btn> i{
    background-color: #ffffff00 !important;
    color:rgb(93, 203, 53) !important;
    
}
.saved-btn> i:hover{
    color:rgb(86, 134, 49) !important;
}

/* =============================== */
/* ------- Skills Table CSS ------ */
/* ============================== */

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #AF9483;
    color: white;
  }

/* ============================= */
/* ------- Experience CSS ------ */
/* ============================= */

.experience {
    position: relative;
    padding: 0;
}

.experience .section-header p {
    margin:0;
}

.experience .exp-column {
    margin-top: 30px;
    padding: 25px 30px;
    background: #e9ecef;
}

.experience .exp-column::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 30px;
    right: 100%;
    left: 15px;
    background: #AF9483;
}

.experience .exp-column::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 15px;
    left: 100%;
    background: #AF9483;
}

.experience .exp-column:hover::before {
    transition: .3s;
    right: 15px;
}

.experience .exp-column:hover::after {
    transition: .3s;
    left: 15px;
}

.experience .exp-date {
    margin-bottom: 5px;
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.experience .exp-date span {
    font-weight: 400;
    font-style: italic;
}

.experience .exp-company {
    margin-bottom: 0;
    color: #AF9483;
    font-size: 18px;
    font-weight: 400;
}

.experience .exp-designation {
    margin-bottom: 10px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.experience .exp-detail {
    margin-bottom: 0;
}

/* ================================ */
/* -------- Testimonial CSS ------- */
/* =============================== */

.testimonials {
    padding: 10px 0px 60px 0px;
  }
  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    border-bottom: 3px #af9483 solid !important;
    transition: 0.5s;
    margin-top: 60px;
  }
  .testimonials .card i {
    background-color: #af9483;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }

/* ============================= */
/* -------- Services CSS ------- */
/* ============================= */

.services {
    padding: 60px 0;
    text-align: center;
    background: #ffffff;
}

.services .section-header {
    text-align: left;
}

.services .section-header p {
    margin:0;
}

.services .single-service {
    position: relative;
    text-align: center;
    font-weight: 300;
    margin:30px 0 0;
    padding: 25px 15px 30px 15px;
    background: #e9ecef;
}

.services .single-service::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 0;
    right: 100%;
    left: 0;
    background: #AF9483;
}

.services .single-service::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 0;
    left: 100%;
    background: #AF9483;
}

.services .single-service:hover::before {
    transition: .3s;
    right: 0;
}

.services .single-service:hover::after {
    transition: .3s;
    left: 0;
}

.services .single-service .service-icon {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 120px;
    color: #AF9483;
}

.services .single-service h4,
.services .single-service h4 a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services .single-service p {
    margin-bottom: 0;
}

.services .single-service span {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}


/* ============================= */
/* -------- Counter CSS -------- */
/* ============================= */

.counters {
    padding: 60px 0;
    position: relative;
    text-align: center;
    color: #ffffff;
    background: #AF9483;
}

.counters .counter .counter-icon-box {
    color: #ffffff;
    margin: 0;
    font-size: 50px;
    transition: all 400ms linear 0s;
}

.counters .counter:hover .counter-icon-box {
    transform: translateY(-15px);
}

.counters .counter .number {
    font-size: 70px;
    margin: 0 0 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Solway', serif;
}

.counters .number:after {
    color: #fff;
    content: "+";
    font-size: 40px;
    position: absolute;
    top: calc(50% + 25px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.counters .counter h4 {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}


/* ============================= */
/* ------- Portfolio CSS ------- */
/* ============================= */

.portfolio {
    position: relative;
    clear: both;
    padding: 60px 0 30px 0;
}

.portfolio .section-header p {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 30px 0;
    list-style: none;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px -3px 5px -3px;
    display: inline-block;
    padding: 10px 15px;
    color: #AF9483;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    border: 1px solid #AF9483;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #AF9483;
    color: #ffffff;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-item {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.portfolio .portfolio-item figure {
    background: #AF9483;
    overflow: hidden;
    height: 220px;
    position: relative;
    border-radius: 0;
    margin: 0; 
}

.portfolio .portfolio-item figure:hover img {
    opacity: 0.3;
    transition: 0.3s;
}

.portfolio .portfolio-item figure .link-preview,
.portfolio .portfolio-item figure .link-details,
.portfolio .portfolio-item figure .portfolio-title {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 60px;
    height: 40px;
    background: #ffffff;
    transition: 0.2s linear;
}

.portfolio .portfolio-item figure .link-preview i,
.portfolio .portfolio-item figure .link-details i {
    padding-top: 9px;
    font-size: 22px;
}

.portfolio .portfolio-item figure .link-preview:hover,
.portfolio .portfolio-item figure .link-details:hover {
    background: #AF9483;
}

.portfolio .portfolio-item figure .link-preview:hover i,
.portfolio .portfolio-item figure .link-details:hover i {
    color: #ffffff;
}

.portfolio .portfolio-item figure .link-preview {
    left: 50%;
    top: calc(25% - 18px);
}

.portfolio .portfolio-item figure .link-details {
    right: 50%;
    top: calc(25% - 18px);
}

.portfolio .portfolio-item figure .portfolio-title {
    margin: 0;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    top: 100%;
    padding: 30px 10px;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    background: rgba(256, 256, 256, .8);
    border-radius: 0;
}

.portfolio .portfolio-item figure .portfolio-title span {
    display: block;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 77px);
}

.portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 77px);
}

.portfolio .portfolio-item figure:hover .portfolio-title {
    opacity: 1;
    top: 50%;
}


/* ============================= */
/* -------- Contact CSS -------- */
/* ============================= */

.contact {
    position: relative;
    padding: 60px 0;
}

.contact .contact-info p {
    margin-bottom: 10px;
    color: #666666;
    font-size: 22px;
    font-weight: 300;
}

@media (max-width: 575px) {
    .contact .contact-info p {
        font-size: 16px;
    }
}

.contact .contact-info a {
    color: #666666;
}

.contact .contact-info a:hover {
    color: #AF9483;
}

.contact .contact-info i {
    width: 30px;
    color: #AF9483;
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #AF9483;
}

.contact .social a i {
    color: #AF9483;
}

.contact .social a:hover {
    background: #AF9483;
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .form {
    color: #666666;
    font-weight: 300;
}

.contact .form input,
.contact .form textarea {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #AF9483;
    border-radius: 0;
    box-shadow: none;
}

.contact .form button[type="submit"] {
    padding: 7px 30px 10px 30px;
    color: #AF9483;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #AF9483;
    background: #ffffff;
}

.contact .form button[type="submit"]:hover {
    background: #AF9483;
    color: #FFFFFF;
}



/* ============================= */
/* --------- Footer CSS -------- */
/* ============================= */

.footer {
    position: relative;
    padding: 30px 0;
    text-align: center;
    background: #222222;
}

.footer .copyright p {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
}

.footer .copyright p:last-child {
    margin: 0;
}
